.Register{
    position: absolute;
    color: white;
    margin-top: 8%;
    width: 100%;
    background-color: #1f1e28;
    padding: 7% 0%;
    margin-bottom: 10px;
    text-align: center;
}
.Register div{
    float: left;
    margin: 20px;
}
.Register .Form{
    background-color: white;
    width: 380px;
    color: black;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
}
.Register .Form input{
    width: 380px;
    height: 40px;
    margin: 8px 0px 15px;
    border-radius: 5px;
    border: 1px solid #c8c5e4;
}
.Register .Form label{
    font-size: 17px;
    font-weight: bold;
}
input[type=button]{
    color: black;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    background-color: #7cc2ee;
  }
  .Register .Form a{
    text-decoration: none;
    color: #149ef2;
  }