.platform{
    position: relative;
    margin-top: 8%;
    width: 100%;
    background-color: white;
    padding: 7% 0%;
    margin-bottom: 10px;
}
.titlePlatform, .PlatformTechnical{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding: 0px 10%;

}
.PlatformTechnical{
    padding: 0px 6%;
    font-weight: normal;
}
.PlatformTechnical div{
    width: 450px;
    font-size: 19px;
    text-align: center;
}
.PlatformTechnical button,.Commuinity button{
    bottom: 0%;
    padding: 15px 45px;
    border-radius: 5px;
    background-color: #149ef2;
    border: 0px;
    color: white;
    font-weight: bold;
}
.PlatformTechnical span{
    font-size:17px;
    display:block;
    margin:25px;
    text-align: center;
}

.Commuinity{
    position: relative;
    padding: 7% 0%;
    font-size: 38px;
    text-align: center;
    align-items: center;
}
.MidComunity button{
    background-color: #40bf9c;
}
.MidComunity .Run{
    margin:60px 0px;
    border: 0px solid red;
    border-radius: 50px;
}




